@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    padding: 0 120px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1F2937;
}

header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

nav ul {
    gap: 24px;
    display: flex;
    font-size: 18px;
    list-style: none;
}

nav ul a {
    color: #E5E7EB;
    text-decoration: none;
}

#hero {
    padding: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1F2937;
}

h1 {
    margin: 0;
    
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    margin: 8px 0;
    
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.signup-btn {
    padding: 8px 24px;
    
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;

    border: none;
    border-radius: 8px;

    background-color: #3882f6;
}

.hero-right {
    color: #E5E7EB;
    
    width: 500px;
    height: 220px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: gray;
}

#info {
    padding: 16px 0 72px 0;

    background-color:#F9FAF8 ;
}

#info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 42px;
}

#info .cards {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    display: flex;
    max-width: 150px;
    align-items: center;
    flex-direction: column;
}

.info-img {
    width: 150px;
    height: 150px;

    border-radius: 16px;
    border: 4px solid #3882f6;
}

.info-text {
    color: gray;
    text-align: center;
}

#quote {
    padding: 96px 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #E5E7EB;
}

#quote .quote-container {
    display: flex;
    max-width: 780px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#quote p,
blockquote {
    margin: 0;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    text-align: justify;
}

.author {
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

#signup {
    padding: 72px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-card {
    padding: 32px 0;
    min-width: 900px;

    gap: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 8px;

    color: #F9FAF8;
    background-color: #3882f6;
}

.signup-left h2,
.signup-left p {
    margin: 0;
}

.signup-left p {
    font-weight: 18px;
}

.signup-right .signup-btn {
    border: 2px solid #F9FAF8;
}

footer {
    padding: 24px;
    text-align: center;
    background-color: #1F2937;
}

footer p {
    margin: 0;

    color: #F9FAF8;
    font-size: 16px;
}